* {
  margin: 0;
  padding: 0;
  /* font-family: 'Baloo Bhai 2', cursive;
                                   font-family: 'IBM Plex Serif', serif; */
}


:root {
  --back: black;
  --txt: white;
}

.lite {
  --back: white;
  --txt: black;
}

#mt {
  width: 30px;
  margin-right: 20px;
  padding: 3px;
  border: 2px solid blue;
}


body {
  background: var(--back);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  color: var(--txt);
  font-size: 25px;
  text-decoration: none;
  margin-left: 25px;
  font-family: 'Baloo Bhai 2', cursive;
  font-family: 'IBM Plex Serif', serif;
}


ul {
  display: flex;

}

li {
  list-style-type: none;
}

ul a {
  text-decoration: none;
  color: var(--txt);
  margin-right: 40px;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  transition: 0.5s ease;
  font-family: 'Baloo Bhai 2', cursive;
  font-family: 'IBM Plex Serif', serif;
  font-family: 'Ubuntu', sans-serif;
}

ul a:hover {
  color: var(--back);
  background: var(--txt);

}









#main {
  /* background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 50%, #1FA2FF 100%); */
  background: var(--back);
  max-height: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: var(--txt);
}

.heading {
  font-family: 'Baloo Bhai 2', cursive;
  font-family: 'IBM Plex Serif', serif;
  font-family: 'Ubuntu', sans-serif;
  max-height: 100%;
  max-width: 100%;
  padding: 20px;
  margin-top: 60px;
}

.bio-sec {
  flex-wrap: wrap;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.content {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-height: 100%;
  padding: 20px;
}

.photos {
  max-height: 100%;
  max-width: 100%;
  padding: 10px;
}

#profile {
  height: 400px;
  width: 400px;
  border: 4px solid white;
  border-radius: 50%;
}

.bio-p {
  font-size: 20px;
  max-height: 100%;
  max-width: 100%;
  padding: 10px;
  font-family: 'Baloo Bhai 2', cursive;
  font-family: 'IBM Plex Serif', serif;
  font-family: 'Ubuntu', sans-serif;
}

.btn-sec {
  display: flex;
  flex-wrap: wrap;
  max-height: 100%;
  max-width: 100%;
  padding: 10px;
  margin-top: 30px;

}

.photo img {
  height: 300px;
  width: 300px;
  border: 6px solid rgb(230, 255, 1);
  border-radius: 50%;
}


.btn {
  text-decoration: none;
  font-size: 22px;
  padding: 20px 40px;
  background-color: var(--txt);
  color: var(--back);
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px;
  transition: 0.5s ease;
  font-family: 'Baloo Bhai 2', cursive;
  font-family: 'IBM Plex Serif', serif;
  font-family: 'Ubuntu', sans-serif;
}

.btn:hover {
  border: 1px solid white;
  color: rgb(255, 255, 255);
  background: var(--back);

}

/* skills section */

.skill-head {
  text-align: center;
  max-width: 100%;
  font-weight: bold;
  font-size: 40px;
  padding: 15px 15px;
  color: var(--txt);
}

.mainskills {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 20px;
  flex-wrap: wrap;

}

.skill-box {
  border-radius: 20px;
  height: 400px;
  width: 350px;
  margin: 20px;
  padding: 20px;
  border: 0.5px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(23 43 99 / 30%) 0 6px 18px;
}

.html-btn {
  padding: 15px 30px;
  border-radius: 10px;
  transition: 0.5s ease;
  text-transform: capitalize;
  font-weight: bold;
}

.html-btn:hover {
  color: var(--txt);
  background: var(--back);
  border: 1px solid white;

}

.skill-para {
  text-transform: capitalize;
  text-align: justify;
  text-justify: auto;
  color: var(--txt);
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Baloo Bhai 2', cursive;
  font-family: 'IBM Plex Serif', serif;
  font-family: 'Ubuntu', sans-serif;
}

.skill-box h3 {
  margin-top: 5px;
  color: var(--txt);
}

.skill-img {
  margin-bottom: 10px;
}


/* contact section */


.form {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

form input {
  font-family: 'Baloo Bhai 2', cursive;
  font-family: 'IBM Plex Serif', serif;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 20px;
  height: 50px;
  width: 500px;
  margin: 20px;
  padding-left: 20px;
}

.goals {
  background-color: #808080;
}

.contact-section {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  padding: 20px;
}

.contact-left {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  align-items: center;
  justify-content: center;
}

.contact-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit {
  font-size: 25px;
  background-color: green;
  color: var(--txt);
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px;
  transition: 0.5s ease;
  font-family: 'Baloo Bhai 2', cursive;
  font-family: 'IBM Plex Serif', serif;
  font-family: 'Ubuntu', sans-serif;
}

.submit:hover {
  color: var(--back);
  background: var(--txt);

}

textarea {
  border-radius: 20px;
  padding: 20px 20px;
}

/* footer section */

.foot {
  max-height: 100%;
  max-width: 100%;
  padding: 20px;
  background-color: var(--back);
  font-family: 'Baloo Bhai 2', cursive;
  font-family: 'IBM Plex Serif', serif;
  font-family: 'Ubuntu', sans-serif;
  color: var(--txt);
  text-align: center;
}

/* menu baar */



.menu-button i {
  color: var(--txt);
  font-size: 22px;
  cursor: pointer;
  margin-right: 30px;
  display: none;
}



input[type="checkbox"] {
  display: none;
}
